<div class="container-fluid">
  <div class="jumbotron text-center">
    <h2>
      <span>Here, we display all API</span>
    </h2>
    <p>
      How many ? <span class="font-weight-bold"> {{ allAPI.length }} API </span>
    </p>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>
  <!-- <q [hidden]="isLoading">{{ categorie }}</q> -->
  <div class="container" *ngIf="!isLoading">
    <div class="row mb-4">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4" *ngFor="let item of allAPI">
        <app-entrie-card [entrie]="item"></app-entrie-card>
      </div>
    </div>
  </div>
  <button class="back" routerLink="/home">Back</button>
</div>
