<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <h3>Help developpers to find an api !</h3>
    <div class="p-5">
      <h2 class="font-weigth-bold mb-5">I'm Antoine, A Developper ƪ(ړײ)‎ƪ​​</h2>
      <p>
        <a href="https://www.leetchi.com/c/search-api" target="_blank">If you want to support me, is here!</a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/antoine-porée/" target="_blank"
          >If you want to tell me what i can upgrade, is here!</a
        >
      </p>
    </div>
  </div>
</div>
