<div class="full">
  <div class="container">
    <h2 class="mb-5 titre pt-5" *ngIf="title">{{ title ? title : 'No title, No cookie' }}</h2>
    <ng-container *ngIf="allEntries; else noEntries">
      <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4" *ngFor="let item of allEntries">
          <app-entrie-card [entrie]="item"></app-entrie-card>
        </div>
      </div>
    </ng-container>
  </div>
  <button class="back" routerLink="/home">Back</button>
</div>
<ng-template #noEntries>
  <p>No entries available</p>
</ng-template>
