<header>
  <nav class="navbar navbar-expand-lg navbar-">
    <span class="navbar-brand" routerLink="/home">Find an API</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbar-menu"
      class="collapse navbar-collapse float-xs-none justify-content-center"
      [ngbCollapse]="menuHidden"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link text-uppercase bor"
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActive]="{ exact: true }"
        >
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
        <a
          class="nav-item nav-link text-uppercase bor"
          routerLink="/about"
          routerLinkActive="active"
          [routerLinkActive]="{ exact: true }"
        >
          <i class="fas fa-meteor"></i>
          <span>About me</span>
        </a>
        <a
          class="nav-item nav-link text-uppercase bor"
          routerLink="/all"
          routerLinkActive="active"
          [routerLinkActive]="{ exact: true }"
        >
          <i class="fas fa-globe-europe"></i>
          <span>Show me all api</span>
        </a>
      </div>
    </div>
  </nav>
</header>
