<header>
  <nav class="navbar navbar-expand-lg navbar-white">
    <span class="navbar-brand" routerLink="/">Find an API</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbar-menu"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!menuHidden"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span>About</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/categorie" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span>categorie</span>
        </a>
      </div>
    </div>
  </nav>
</header>
