.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.titre {
  border-bottom: 1px solid black;
}

.focused {
  box-shadow: 0 0 6px rgba($color: #000, $alpha: 0.3);
}

.clean {
  height: 48px;
  border: none;
  font-size: 1.2rem;
  border-radius: 40px;
  color: black;
  background-color: white;
  width: 3rem;
}

.box {
  box-shadow: 0px 0px 1px 1px;
}

.search-box {
  margin: 2rem auto;
  border-radius: 40px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px 0 0 40px;
    background-color: white;
    width: 48px;
    height: 48px;
  }

  input {
    height: 48px;
    border: none;
    font-size: 1.2rem;
    border-radius: 0 40px 40px 0;
    color: grey;
    display: block;
    width: 300px;
    transition: all 0.25s;
    box-shadow: 20%;

    &:focus {
      box-shadow: none;
      width: 100%;
    }

    &::placeholder {
      color: grey;
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

.unsplash {
  color: burlywood;
  font-weight: bold;
}
